<h1>{{title}}</h1>
<form *ngIf="!loading" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
        </div>      
        <div *ngIf="status != true">
            <label class="form-label">Password</label>
            <input type="password" formControlName="password" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
            <label class="form-label">ConfirmPassword</label>
            <input type="password" formControlName="confirmPassword" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.required">ConfirmPassword is required</div>
            </div>
            <div *ngIf="form.errors?.notMatch && (form.dirty || form.touched)">
                Passwords do not match.
            </div>
        </div>       
        <label class="form-label">PhoneNumber</label>
        <input type="text" formControlName="phoneNumber" class="form-control">
        
        <div style="padding-top: 10px" class="mb-3">
            <button [disabled]="submitting" class="btn btn-primary">
                <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
                Save
            </button>
            <a routerLink="/users" class="btn btn-link">Cancel</a>
        </div>
    </div>
</form>
<div *ngIf="loading" class="text-center m-5">
    <span class="spinner-border spinner-border-lg align-center"></span>
</div>