<h1>Hello {{currentUser?.userName}}</h1>
<div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">UserName</label>
    <input type="text" class="form-control" readonly value="{{currentUser?.userName}}">
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">Email</label>
    <input type="text" class="form-control" readonly value="{{currentUser?.email}}">
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">PhoneNumber</label>
    <input type="text" class="form-control" readonly value="{{currentUser?.phoneNumber}}">
</div>